# Filter Data

In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
df_FANG = pd.read_csv('data/FANG.csv', encoding="ISO-8859-1", index_col=[0])
df_FANG_dates = pd.read_excel("data/dates/Document_Filing_Dates.xlsx", sheet_name='FANG')
df_FANG.drop(['company', 'open', 'high', 'low','adjusted_close', 'volume', 'dividend_amount', 'split_coefficient' ,'crude_price'], axis=1, inplace=True)
df_FANG['date'] = pd.to_datetime(df_FANG['date'])
df_FANG = df_FANG.set_index('date')
df_FANG = df_FANG.resample('D').mean()
df_FANG = df_FANG.fillna(method='ffill')
df_FANG = df_FANG.reset_index(drop=False)
df_FANG_dates.rename(columns = {'Filing Date':'date'}, inplace = True)
df_FANG_dates['1_Day'] = df_FANG_dates['date'] + np.timedelta64(1,'D')
df_FANG_dates['1_Month'] = df_FANG_dates['date'] + np.timedelta64(30,'D')
df_FANG_dates['3_Month'] = df_FANG_dates['date'] + np.timedelta64(90,'D')
df_FANG_dates = pd.merge(df_FANG_dates, df_FANG, on='date' ,how='left')
df_FANG.rename(columns = {'date':'1_Day'}, inplace = True)
df_FANG.rename(columns = {'close':'close_1_Day'}, inplace = True)
df_FANG_dates = pd.merge(df_FANG_dates, df_FANG, on='1_Day' ,how='left')
df_FANG.rename(columns = {'1_Day':'1_Month'}, inplace = True)
df_FANG.rename(columns = {'close_1_Day':'close_1_Month'}, inplace = True)
df_FANG_dates = pd.merge(df_FANG_dates, df_FANG, on='1_Month' ,how='left')
df_FANG.rename(columns = {'1_Month':'3_Month'}, inplace = True)
df_FANG.rename(columns = {'close_1_Month':'close_3_Month'}, inplace = True)
df_FANG_dates = pd.merge(df_FANG_dates, df_FANG, on='3_Month' ,how='left')
df_FANG_dates['Name'] = 'FANG'

In [3]:
df_FANG_dates

,Filings,date,1_Day,1_Month,3_Month,close,close_1_Day,close_1_Month,close_3_Month,Name
0,10-K,2014-02-19,2014-02-20,2014-03-21,2014-05-20,61.04,62.67,64.22,70.160,FANG
1,10-Q,2014-05-09,2014-05-10,2014-06-08,2014-08-07,71.24,71.24,81.09,76.580,FANG
2,10-Q/A,2014-05-28,2014-05-29,2014-06-27,2014-08-26,71.39,75.02,88.69,83.880,FANG
3,10-Q,2014-08-07,2014-08-08,2014-09-06,2014-11-05,76.58,77.45,79.25,65.010,FANG
4,10-Q,2014-11-06,2014-11-07,2014-12-06,2015-02-04,65.82,69.49,58.79,67.125,FANG
5,10-K,2015-02-20,2015-02-21,2015-03-22,2015-05-21,75.09,75.09,72.34,80.620,FANG
6,10-Q,2015-05-07,2015-05-08,2015-06-06,2015-08-05,75.34,77.01,78.26,68.370,FANG
7,10-Q,2015-08-10,2015-08-11,2015-09-09,2015-11-08,70.19,70.87,65.05,77.790,FANG
8,10-Q,2015-11-06,2015-11-07,2015-12-06,2016-02-04,77.79,77.79,76.31,72.000,FANG
9,10-Q/A,2015-11-17,2015-11-18,2015-12-17,2016-02-15,79.61,81.42,68.75,69.130,FANG
10,10-K,2016-02-19,2016-02-20,2016-03-20,2016-05-19,72.08,72.08,77.62,86.930,FANG
11,10-Q,2016-05-05,2016-05-06,2016-06-04,2016-08-03,87.68,85.46,90.11,87.340,FANG
12,10-Q,2016-08-09,2016-08-10,2016-09-08,2016-11-07,94.28,93.29,98.34,93.960,FANG
13,10-Q,2016-11-08,2016-11-09,2016-12-08,2017-02-06,93.74,98.16,107.26,105.440,FANG
14,10-K,2017-02-15,2017-02-16,2017-03-17,2017-05-16,111.84,109.01,104.69,103.960,FANG
15,10-Q,2017-05-04,2017-05-05,2017-06-03,2017-08-02,95.21,99.65,91.84,95.840,FANG
16,10-Q,2017-08-02,2017-08-03,2017-09-01,2017-10-31,95.84,89.69,91.92,107.160,FANG
17,10-Q,2017-11-07,2017-11-08,2017-12-07,2018-02-05,111.80,110.04,108.95,120.270,FANG
18,10-K,2018-02-15,2018-02-16,2018-03-17,2018-05-16,125.15,123.88,125.51,132.130,FANG
19,10-Q,2018-05-10,2018-05-11,2018-06-09,2018-08-08,129.79,123.82,113.96,133.790,FANG
20,10-Q,2018-08-09,2018-08-10,2018-09-08,2018-11-07,131.15,134.80,112.65,115.870,FANG
21,10-Q,2018-11-07,2018-11-08,2018-12-07,2019-02-05,115.87,110.65,102.70,101.880,FANG
22,10-K,2019-02-25,2019-02-26,2019-03-27,2019-05-26,105.29,105.51,102.35,NaN,FANG
23,10-K/A,2019-03-12,2019-03-13,2019-04-11,2019-06-10,100.50,103.42,99.92,NaN,FANG
24,10-Q,2019-05-10,2019-05-11,2019-06-09,2019-08-08,NaN,NaN,NaN,NaN,FANG

In [4]:
df_MDU_dates = pd.read_excel("data/dates/Document_Filing_Dates.xlsx", sheet_name='MDU')
df_MDU = pd.read_csv('data/MDU.csv', encoding="ISO-8859-1", index_col=[0])
df_MDU.drop(['company', 'open', 'high', 'low','adjusted_close', 'volume', 'dividend_amount', 'split_coefficient' ,'crude_price'], axis=1, inplace=True)
df_MDU['date'] = pd.to_datetime(df_MDU['date'])
df_MDU = df_MDU.set_index('date')
df_MDU = df_MDU.resample('D').mean()
df_MDU = df_MDU.fillna(method='ffill')
df_MDU = df_MDU.reset_index(drop=False)
df_MDU_dates.rename(columns = {'Filing Date':'date'}, inplace = True)
df_MDU_dates['1_Day'] = df_MDU_dates['date'] + np.timedelta64(1,'D')
df_MDU_dates['1_Month'] = df_MDU_dates['date'] + np.timedelta64(30,'D')
df_MDU_dates['3_Month'] = df_MDU_dates['date'] + np.timedelta64(90,'D')
df_MDU_dates = pd.merge(df_MDU_dates, df_MDU, on='date' ,how='left')
df_MDU.rename(columns = {'date':'1_Day'}, inplace = True)
df_MDU.rename(columns = {'close':'close_1_Day'}, inplace = True)
df_MDU_dates = pd.merge(df_MDU_dates, df_MDU, on='1_Day' ,how='left')
df_MDU.rename(columns = {'1_Day':'1_Month'}, inplace = True)
df_MDU.rename(columns = {'close_1_Day':'close_1_Month'}, inplace = True)
df_MDU_dates = pd.merge(df_MDU_dates, df_MDU, on='1_Month' ,how='left')
df_MDU.rename(columns = {'1_Month':'3_Month'}, inplace = True)
df_MDU.rename(columns = {'close_1_Month':'close_3_Month'}, inplace = True)
df_MDU_dates = pd.merge(df_MDU_dates, df_MDU, on='3_Month' ,how='left')
df_MDU_dates['Name'] = 'MDU'

In [5]:
df_MDU_dates

,Filings,date,1_Day,1_Month,3_Month,close,close_1_Day,close_1_Month,close_3_Month,Name
0,10-K,2014-02-21,2014-02-22,2014-03-23,2014-05-22,34.55,34.55,33.75,33.25,MDU
1,10-Q,2014-05-07,2014-05-08,2014-06-06,2014-08-05,35.77,35.07,33.93,30.11,MDU
2,10-Q,2014-08-08,2014-08-09,2014-09-07,2014-11-06,30.53,30.53,31.65,25.99,MDU
3,10-Q,2014-11-07,2014-11-08,2014-12-07,2015-02-05,26.36,26.36,23.78,22.35,MDU
4,10-K,2015-02-20,2015-02-21,2015-03-22,2015-05-21,23.02,23.02,21.95,20.97,MDU
5,10-Q,2015-05-08,2015-05-09,2015-06-07,2015-08-06,20.48,20.48,20.45,17.08,MDU
6,10-Q,2015-08-04,2015-08-05,2015-09-03,2015-11-02,17.38,17.55,16.92,19.20,MDU
7,10-Q,2015-11-06,2015-11-07,2015-12-06,2016-02-04,18.48,18.48,17.69,17.10,MDU
8,10-K,2016-02-19,2016-02-20,2016-03-20,2016-05-19,17.40,17.40,19.02,21.46,MDU
9,10-Q,2016-05-06,2016-05-07,2016-06-05,2016-08-04,20.90,20.90,23.07,23.58,MDU
10,10-Q,2016-08-05,2016-08-06,2016-09-04,2016-11-03,23.66,23.66,23.90,25.65,MDU
11,10-Q,2016-11-07,2016-11-08,2016-12-07,2017-02-05,26.40,27.08,29.38,26.74,MDU
12,10-K,2017-02-24,2017-02-25,2017-03-26,2017-05-25,27.13,27.13,27.17,27.35,MDU
13,10-Q,2017-05-08,2017-05-09,2017-06-07,2017-08-06,25.93,25.68,26.58,25.99,MDU
14,10-Q,2017-08-04,2017-08-05,2017-09-03,2017-11-02,25.99,25.99,27.19,26.41,MDU
15,10-Q,2017-11-03,2017-11-04,2017-12-03,2018-02-01,26.16,26.16,27.96,26.23,MDU
16,10-K,2018-02-23,2018-02-24,2018-03-25,2018-05-24,27.46,27.46,27.17,27.84,MDU
17,10-Q,2018-05-04,2018-05-05,2018-06-03,2018-08-02,29.01,29.01,27.57,28.24,MDU
18,10-Q,2018-08-03,2018-08-04,2018-09-02,2018-11-01,28.57,28.57,27.89,25.92,MDU
19,10-Q,2018-11-02,2018-11-03,2018-12-02,2019-01-31,25.53,25.53,26.47,25.71,MDU
20,10-K,2019-02-22,2019-02-23,2019-03-24,2019-05-23,27.04,27.04,25.35,NaN,MDU
21,10-Q,2019-05-03,2019-05-04,2019-06-02,2019-08-01,NaN,NaN,NaN,NaN,MDU

In [6]:
df_PE_dates = pd.read_excel("data/dates/Document_Filing_Dates.xlsx", sheet_name='PE')
df_PE = pd.read_csv('data/PE.csv', encoding="ISO-8859-1", index_col=[0])
df_PE.drop(['company' ,'open', 'high', 'low','adjusted_close', 'volume', 'dividend_amount', 'split_coefficient' ,'crude_price'], axis=1, inplace=True)
df_PE_dates.drop(['**they started mid 2014'], axis=1, inplace=True)


df_PE['date'] = pd.to_datetime(df_PE['date'])
df_PE = df_PE.set_index('date')
df_PE = df_PE.resample('D').mean()
df_PE = df_PE.fillna(method='ffill')
df_PE = df_PE.reset_index(drop=False)
df_PE_dates.rename(columns = {'Filing Date':'date'}, inplace = True)
df_PE_dates['1_Day'] = df_PE_dates['date'] + np.timedelta64(1,'D')
df_PE_dates['1_Month'] = df_PE_dates['date'] + np.timedelta64(30,'D')
df_PE_dates['3_Month'] = df_PE_dates['date'] + np.timedelta64(90,'D')
df_PE_dates = pd.merge(df_PE_dates, df_PE, on='date' ,how='left')
df_PE.rename(columns = {'date':'1_Day'}, inplace = True)
df_PE.rename(columns = {'close':'close_1_Day'}, inplace = True)
df_PE_dates = pd.merge(df_PE_dates, df_PE, on='1_Day' ,how='left')
df_PE.rename(columns = {'1_Day':'1_Month'}, inplace = True)
df_PE.rename(columns = {'close_1_Day':'close_1_Month'}, inplace = True)
df_PE_dates = pd.merge(df_PE_dates, df_PE, on='1_Month' ,how='left')
df_PE.rename(columns = {'1_Month':'3_Month'}, inplace = True)
df_PE.rename(columns = {'close_1_Month':'close_3_Month'}, inplace = True)
df_PE_dates = pd.merge(df_PE_dates, df_PE, on='3_Month' ,how='left')
df_PE_dates['Name'] = 'PE'

df_PE_dates.drop(df_PE_dates.columns[df_PE_dates.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [7]:
df_PE_dates

,Filings,date,1_Day,1_Month,3_Month,close,close_1_Day,close_1_Month,close_3_Month,Name
0,10-Q,2014-08-14,2014-08-15,2014-09-13,2014-11-12,19.89,20.43,20.51,17.91,PE
1,10-Q,2014-11-14,2014-11-15,2014-12-14,2015-02-12,17.95,17.95,11.51,16.48,PE
2,10-K,2015-03-11,2015-03-12,2015-04-10,2015-06-09,14.33,14.57,17.36,18.52,PE
3,10-Q,2015-05-14,2015-05-15,2015-06-13,2015-08-12,17.30,17.62,18.22,16.25,PE
4,10-Q,2015-08-13,2015-08-14,2015-09-12,2015-11-11,15.90,16.16,15.05,18.47,PE
5,10-Q,2015-11-06,2015-11-07,2015-12-06,2016-02-04,18.13,18.13,18.78,17.81,PE
6,10-K,2016-02-29,2016-03-01,2016-03-30,2016-05-29,18.38,18.93,22.82,25.94,PE
7,10-Q,2016-05-06,2016-05-07,2016-06-05,2016-08-04,23.81,23.81,26.04,31.89,PE
8,10-Q,2016-08-05,2016-08-06,2016-09-04,2016-11-03,32.50,32.50,34.86,33.19,PE
9,10-Q,2016-11-04,2016-11-05,2016-12-04,2017-02-02,33.17,33.17,38.27,34.79,PE
10,10-K,2017-02-27,2017-02-28,2017-03-29,2017-05-28,30.77,30.39,32.26,30.80,PE
11,10-Q,2017-05-05,2017-05-06,2017-06-04,2017-08-03,31.29,31.29,30.14,25.30,PE
12,10-Q,2017-08-04,2017-08-05,2017-09-03,2017-11-02,26.12,26.12,25.25,26.73,PE
13,10-Q,2017-11-08,2017-11-09,2017-12-08,2018-02-06,27.10,27.19,26.10,23.36,PE
14,10-K,2018-02-28,2018-03-01,2018-03-30,2018-05-29,25.28,25.33,28.99,29.10,PE
15,10-Q,2018-05-04,2018-05-05,2018-06-03,2018-08-02,31.92,31.92,28.31,31.61,PE
16,10-Q,2018-08-08,2018-08-09,2018-09-07,2018-11-06,30.27,29.96,26.37,25.05,PE
17,10-Q,2018-11-02,2018-11-03,2018-12-02,2019-01-31,24.73,24.73,20.13,18.58,PE
18,10-K,2019-02-27,2019-02-28,2019-03-29,2019-05-28,18.62,18.14,19.30,NaN,PE
19,10-Q,2019-05-03,2019-05-04,2019-06-02,2019-08-01,NaN,NaN,NaN,NaN,PE

In [8]:
df_MRO_dates = pd.read_excel("data/dates/Document_Filing_Dates.xlsx", sheet_name='MRO')
df_MRO = pd.read_csv('data/MRO.csv', encoding="ISO-8859-1", index_col=[0])
df_MRO.drop(['company', 'open', 'high', 'low','adjusted_close', 'volume', 'dividend_amount', 'split_coefficient' ,'crude_price'], axis=1, inplace=True)
df_MRO['date'] = pd.to_datetime(df_MRO['date'])
df_MRO = df_MRO.set_index('date')
df_MRO = df_MRO.resample('D').mean()
df_MRO = df_MRO.fillna(method='ffill')
df_MRO = df_MRO.reset_index(drop=False)
df_MRO_dates.rename(columns = {'Filing Date':'date'}, inplace = True)
df_MRO_dates['1_Day'] = df_MRO_dates['date'] + np.timedelta64(1,'D')
df_MRO_dates['1_Month'] = df_MRO_dates['date'] + np.timedelta64(30,'D')
df_MRO_dates['3_Month'] = df_MRO_dates['date'] + np.timedelta64(90,'D')
df_MRO_dates = pd.merge(df_MRO_dates, df_MRO, on='date' ,how='left')
df_MRO.rename(columns = {'date':'1_Day'}, inplace = True)
df_MRO.rename(columns = {'close':'close_1_Day'}, inplace = True)
df_MRO_dates = pd.merge(df_MRO_dates, df_MRO, on='1_Day' ,how='left')
df_MRO.rename(columns = {'1_Day':'1_Month'}, inplace = True)
df_MRO.rename(columns = {'close_1_Day':'close_1_Month'}, inplace = True)
df_MRO_dates = pd.merge(df_MRO_dates, df_MRO, on='1_Month' ,how='left')
df_MRO.rename(columns = {'1_Month':'3_Month'}, inplace = True)
df_MRO.rename(columns = {'close_1_Month':'close_3_Month'}, inplace = True)
df_MRO_dates = pd.merge(df_MRO_dates, df_MRO, on='3_Month' ,how='left')
df_MRO_dates['Name'] = 'MRO'

In [9]:
df_MRO_dates

,Filings,date,1_Day,1_Month,3_Month,close,close_1_Day,close_1_Month,close_3_Month,Name
0,10-K,2014-02-28,2014-03-01,2014-03-30,2014-05-29,33.50,33.50,35.22,36.66,MRO
1,10-Q,2014-05-07,2014-05-08,2014-06-06,2014-08-05,35.52,35.70,37.31,38.46,MRO
2,10-Q,2014-08-05,2014-08-06,2014-09-04,2014-11-03,38.46,38.93,40.53,34.57,MRO
3,10-Q/A,2014-08-07,2014-08-08,2014-09-06,2014-11-05,38.09,39.08,40.91,33.57,MRO
4,10-Q,2014-11-04,2014-11-05,2014-12-04,2015-02-02,33.36,33.57,29.84,27.90,MRO
5,10-K,2015-03-02,2015-03-03,2015-04-01,2015-05-31,27.67,27.74,26.64,27.19,MRO
6,10-Q,2015-05-07,2015-05-08,2015-06-06,2015-08-05,28.92,29.31,26.95,19.79,MRO
7,10-Q,2015-08-06,2015-08-07,2015-09-05,2015-11-04,19.45,18.40,16.36,19.40,MRO
8,10-Q,2015-11-05,2015-11-06,2015-12-05,2016-02-03,19.00,18.29,16.12,9.42,MRO
9,10-K,2016-02-25,2016-02-26,2016-03-26,2016-05-25,7.39,8.03,10.29,13.54,MRO
10,10-Q,2016-05-05,2016-05-06,2016-06-04,2016-08-03,12.07,12.03,13.32,13.42,MRO
11,10-Q,2016-08-04,2016-08-05,2016-09-03,2016-11-02,13.41,13.87,15.49,12.78,MRO
12,10-Q,2016-11-03,2016-11-04,2016-12-03,2017-02-01,14.15,13.69,18.20,16.59,MRO
13,10-K,2017-02-24,2017-02-25,2017-03-26,2017-05-25,15.73,15.73,14.61,13.50,MRO
14,10-Q,2017-05-05,2017-05-06,2017-06-04,2017-08-03,14.29,14.29,12.72,12.51,MRO
15,10-Q,2017-08-03,2017-08-04,2017-09-02,2017-11-01,12.51,12.90,11.27,14.87,MRO
16,10-Q,2017-11-02,2017-11-03,2017-12-02,2018-01-31,15.44,15.58,15.08,18.19,MRO
17,10-K,2018-02-22,2018-02-23,2018-03-24,2018-05-23,15.18,15.54,15.76,21.63,MRO
18,10-Q,2018-05-03,2018-05-04,2018-06-02,2018-08-01,19.44,19.72,21.52,20.31,MRO
19,10-Q,2018-08-02,2018-08-03,2018-09-01,2018-10-31,20.83,20.54,21.51,18.99,MRO
20,10-Q,2018-11-08,2018-11-09,2018-12-08,2019-02-06,18.05,17.84,16.05,15.91,MRO
21,10-K,2019-02-21,2019-02-22,2019-03-23,2019-05-22,16.68,16.89,16.68,NaN,MRO
22,10-Q,2019-05-02,2019-05-03,2019-06-01,2019-07-31,NaN,NaN,NaN,NaN,MRO

In [10]:
df_LPI_dates = pd.read_excel("data/dates/Document_Filing_Dates.xlsx", sheet_name='LPI')
df_LPI = pd.read_csv('data/LPI.csv', encoding="ISO-8859-1", index_col=[0])
df_LPI.drop(['company', 'open', 'high', 'low','adjusted_close', 'volume', 'dividend_amount', 'split_coefficient' ,'crude_price'], axis=1, inplace=True)
df_LPI['date'] = pd.to_datetime(df_LPI['date'])
df_LPI = df_LPI.set_index('date')
df_LPI = df_LPI.resample('D').mean()
df_LPI = df_LPI.fillna(method='ffill')
df_LPI = df_LPI.reset_index(drop=False)
df_LPI_dates.rename(columns = {'Filing Date':'date'}, inplace = True)
df_LPI_dates['1_Day'] = df_LPI_dates['date'] + np.timedelta64(1,'D')
df_LPI_dates['1_Month'] = df_LPI_dates['date'] + np.timedelta64(30,'D')
df_LPI_dates['3_Month'] = df_LPI_dates['date'] + np.timedelta64(90,'D')
df_LPI_dates = pd.merge(df_LPI_dates, df_LPI, on='date' ,how='left')
df_LPI.rename(columns = {'date':'1_Day'}, inplace = True)
df_LPI.rename(columns = {'close':'close_1_Day'}, inplace = True)
df_LPI_dates = pd.merge(df_LPI_dates, df_LPI, on='1_Day' ,how='left')
df_LPI.rename(columns = {'1_Day':'1_Month'}, inplace = True)
df_LPI.rename(columns = {'close_1_Day':'close_1_Month'}, inplace = True)
df_LPI_dates = pd.merge(df_LPI_dates, df_LPI, on='1_Month' ,how='left')
df_LPI.rename(columns = {'1_Month':'3_Month'}, inplace = True)
df_LPI.rename(columns = {'close_1_Month':'close_3_Month'}, inplace = True)
df_LPI_dates = pd.merge(df_LPI_dates, df_LPI, on='3_Month' ,how='left')
df_LPI_dates['Name'] = 'LPI'

In [11]:
df_LPI_dates

,Filings,date,1_Day,1_Month,3_Month,close,close_1_Day,close_1_Month,close_3_Month,Name
0,10-K,2014-02-27,2014-02-28,2014-03-29,2014-05-28,25.60,26.09,26.14,27.17,LPI
1,10-Q,2014-05-08,2014-05-09,2014-06-07,2014-08-06,28.40,28.28,28.45,26.30,LPI
2,10-Q,2014-08-07,2014-08-08,2014-09-06,2014-11-05,24.11,24.52,23.91,18.22,LPI
3,10-Q,2014-11-06,2014-11-07,2014-12-06,2015-02-04,18.03,19.08,9.18,13.33,LPI
4,10-K,2015-02-26,2015-02-27,2015-03-28,2015-05-27,12.26,11.93,12.75,13.98,LPI
5,10-Q,2015-05-07,2015-05-08,2015-06-06,2015-08-05,13.72,13.34,14.32,7.79,LPI
6,10-Q,2015-08-06,2015-08-07,2015-09-05,2015-11-04,8.51,8.01,10.17,12.71,LPI
7,10-Q,2015-11-05,2015-11-06,2015-12-05,2016-02-03,12.32,12.05,9.42,7.41,LPI
8,10-K,2016-02-17,2016-02-18,2016-03-18,2016-05-17,5.07,4.74,8.90,11.60,LPI
9,10-Q,2016-05-05,2016-05-06,2016-06-04,2016-08-03,12.60,11.94,12.41,10.47,LPI
10,10-Q,2016-08-04,2016-08-05,2016-09-03,2016-11-02,10.96,11.27,12.46,11.90,LPI
11,10-Q,2016-11-03,2016-11-04,2016-12-03,2017-02-01,13.20,12.71,15.01,13.57,LPI
12,10-K,2017-02-16,2017-02-17,2017-03-18,2017-05-17,14.45,14.12,13.46,12.37,LPI
13,10-Q,2017-05-04,2017-05-05,2017-06-03,2017-08-02,11.51,12.02,11.54,12.33,LPI
14,10-Q,2017-08-08,2017-08-09,2017-09-07,2017-11-06,12.18,12.24,12.24,11.00,LPI
15,10-Q,2017-11-02,2017-11-03,2017-12-02,2018-01-31,10.69,10.40,10.67,9.73,LPI
16,10-K,2018-02-15,2018-02-16,2018-03-17,2018-05-16,8.33,8.36,8.53,9.75,LPI
17,10-Q,2018-05-03,2018-05-04,2018-06-02,2018-08-01,8.98,9.18,8.50,9.30,LPI
18,10-Q,2018-08-02,2018-08-03,2018-09-01,2018-10-31,8.69,8.57,8.29,5.24,LPI
19,10-Q,2018-11-06,2018-11-07,2018-12-06,2019-02-04,5.69,5.81,4.43,3.95,LPI
20,10-K,2019-02-14,2019-02-15,2019-03-16,2019-05-15,3.85,3.86,2.83,NaN,LPI
21,10-Q,2019-05-02,2019-05-03,2019-06-01,2019-07-31,NaN,NaN,NaN,NaN,LPI

In [12]:
df_GPOR_dates = pd.read_excel("data/dates/Document_Filing_Dates.xlsx", sheet_name='GPOR')
df_GPOR = pd.read_csv('data/GPOR.csv', encoding="ISO-8859-1", index_col=[0])
df_GPOR.drop(['company', 'open', 'high', 'low','adjusted_close', 'volume', 'dividend_amount', 'split_coefficient' ,'crude_price'], axis=1, inplace=True)
df_GPOR['date'] = pd.to_datetime(df_GPOR['date'])
df_GPOR = df_GPOR.set_index('date')
df_GPOR = df_GPOR.resample('D').mean()
df_GPOR = df_GPOR.fillna(method='ffill')
df_GPOR = df_GPOR.reset_index(drop=False)
df_GPOR_dates.rename(columns = {'Filing Date':'date'}, inplace = True)
df_GPOR_dates['1_Day'] = df_GPOR_dates['date'] + np.timedelta64(1,'D')
df_GPOR_dates['1_Month'] = df_GPOR_dates['date'] + np.timedelta64(30,'D')
df_GPOR_dates['3_Month'] = df_GPOR_dates['date'] + np.timedelta64(90,'D')
df_GPOR_dates = pd.merge(df_GPOR_dates, df_GPOR, on='date' ,how='left')
df_GPOR.rename(columns = {'date':'1_Day'}, inplace = True)
df_GPOR.rename(columns = {'close':'close_1_Day'}, inplace = True)
df_GPOR_dates = pd.merge(df_GPOR_dates, df_GPOR, on='1_Day' ,how='left')
df_GPOR.rename(columns = {'1_Day':'1_Month'}, inplace = True)
df_GPOR.rename(columns = {'close_1_Day':'close_1_Month'}, inplace = True)
df_GPOR_dates = pd.merge(df_GPOR_dates, df_GPOR, on='1_Month' ,how='left')
df_GPOR.rename(columns = {'1_Month':'3_Month'}, inplace = True)
df_GPOR.rename(columns = {'close_1_Month':'close_3_Month'}, inplace = True)
df_GPOR_dates = pd.merge(df_GPOR_dates, df_GPOR, on='3_Month' ,how='left')
df_GPOR_dates['Name'] = 'GPOR'

In [13]:
df_GPOR_dates

,Filings,date,1_Day,1_Month,3_Month,close,close_1_Day,close_1_Month,close_3_Month,Name
0,10-K,2014-02-28,2014-03-01,2014-03-30,2014-05-29,66.15,66.15,69.65,63.480,GPOR
1,10-Q,2014-05-09,2014-05-10,2014-06-08,2014-08-07,60.88,60.88,63.31,54.780,GPOR
2,10-Q,2014-08-07,2014-08-08,2014-09-06,2014-11-05,54.78,55.74,57.13,48.540,GPOR
3,10-Q,2014-11-07,2014-11-08,2014-12-07,2015-02-05,55.16,55.16,40.45,40.925,GPOR
4,10-K,2015-02-27,2015-02-28,2015-03-29,2015-05-28,45.81,45.81,44.65,43.950,GPOR
5,10-Q,2015-05-07,2015-05-08,2015-06-06,2015-08-05,44.72,45.85,44.59,32.170,GPOR
6,10-Q,2015-08-07,2015-08-08,2015-09-06,2015-11-05,33.16,33.16,32.57,30.490,GPOR
7,10-Q,2015-11-05,2015-11-06,2015-12-05,2016-02-03,30.49,30.33,24.78,29.900,GPOR
8,10-K,2016-02-19,2016-02-20,2016-03-20,2016-05-19,27.16,27.16,29.43,29.380,GPOR
9,10-Q,2016-05-05,2016-05-06,2016-06-04,2016-08-03,27.92,28.68,31.18,28.670,GPOR
10,10-Q,2016-08-05,2016-08-06,2016-09-04,2016-11-03,26.21,26.21,29.02,23.200,GPOR
11,10-Q,2016-11-03,2016-11-04,2016-12-03,2017-02-01,23.20,23.12,26.42,20.880,GPOR
12,10-K,2017-02-15,2017-02-16,2017-03-17,2017-05-16,20.44,19.71,16.59,16.410,GPOR
13,10-Q,2017-05-09,2017-05-10,2017-06-08,2017-08-07,16.12,16.46,13.01,11.230,GPOR
14,10-Q,2017-08-09,2017-08-10,2017-09-08,2017-11-07,11.59,11.69,12.18,14.180,GPOR
15,10-Q,2017-11-02,2017-11-03,2017-12-02,2018-01-31,13.12,13.33,13.15,10.170,GPOR
16,10-K,2018-02-22,2018-02-23,2018-03-24,2018-05-23,9.60,9.94,9.52,10.590,GPOR
17,10-Q,2018-05-09,2018-05-10,2018-06-08,2018-08-07,10.50,10.35,10.29,11.700,GPOR
18,10-Q,2018-08-02,2018-08-03,2018-09-01,2018-10-31,11.19,11.41,11.76,9.110,GPOR
19,10-Q,2018-11-01,2018-11-02,2018-12-01,2019-01-30,9.38,9.10,8.52,8.670,GPOR
20,10-K,2019-02-28,2019-03-01,2019-03-30,2019-05-29,7.66,7.84,8.02,NaN,GPOR
21,10-Q,2019-05-03,2019-05-04,2019-06-02,2019-08-01,NaN,NaN,NaN,NaN,GPOR

In [14]:
df_RRC_dates = pd.read_excel("data/dates/Document_Filing_Dates.xlsx", sheet_name='RRC')
df_RRC = pd.read_csv('data/RRC.csv', encoding="ISO-8859-1", index_col=[0])
df_RRC.drop(['company', 'open', 'high', 'low','adjusted_close', 'volume', 'dividend_amount', 'split_coefficient' ,'crude_price'], axis=1, inplace=True)
df_RRC['date'] = pd.to_datetime(df_RRC['date'])
df_RRC = df_RRC.set_index('date')
df_RRC = df_RRC.resample('D').mean()
df_RRC = df_RRC.fillna(method='ffill')
df_RRC = df_RRC.reset_index(drop=False)
df_RRC_dates.rename(columns = {'Filing Date':'date'}, inplace = True)
df_RRC_dates['1_Day'] = df_RRC_dates['date'] + np.timedelta64(1,'D')
df_RRC_dates['1_Month'] = df_RRC_dates['date'] + np.timedelta64(30,'D')
df_RRC_dates['3_Month'] = df_RRC_dates['date'] + np.timedelta64(90,'D')
df_RRC_dates = pd.merge(df_RRC_dates, df_RRC, on='date' ,how='left')
df_RRC.rename(columns = {'date':'1_Day'}, inplace = True)
df_RRC.rename(columns = {'close':'close_1_Day'}, inplace = True)
df_RRC_dates = pd.merge(df_RRC_dates, df_RRC, on='1_Day' ,how='left')
df_RRC.rename(columns = {'1_Day':'1_Month'}, inplace = True)
df_RRC.rename(columns = {'close_1_Day':'close_1_Month'}, inplace = True)
df_RRC_dates = pd.merge(df_RRC_dates, df_RRC, on='1_Month' ,how='left')
df_RRC.rename(columns = {'1_Month':'3_Month'}, inplace = True)
df_RRC.rename(columns = {'close_1_Month':'close_3_Month'}, inplace = True)
df_RRC_dates = pd.merge(df_RRC_dates, df_RRC, on='3_Month' ,how='left')
df_RRC_dates['Name'] = 'RRC'

In [15]:
df_RRC_dates

,Filings,date,1_Day,1_Month,3_Month,close,close_1_Day,close_1_Month,close_3_Month,Name
0,10-K,2014-02-26,2014-02-27,2014-03-28,2014-05-27,84.94,86.76,85.23,90.92,RRC
1,10-Q,2014-04-28,2014-04-29,2014-05-28,2014-07-27,91.48,90.43,90.32,76.71,RRC
2,10-K/A,2014-06-23,2014-06-24,2014-07-23,2014-09-21,88.02,85.67,77.28,71.55,RRC
3,10-Q,2014-07-28,2014-07-29,2014-08-27,2014-10-26,76.27,78.15,78.02,66.62,RRC
4,10-Q,2014-10-29,2014-10-30,2014-11-28,2015-01-27,66.90,66.06,65.65,49.27,RRC
5,10-K,2015-02-24,2015-02-25,2015-03-26,2015-05-25,51.24,53.91,51.12,58.64,RRC
6,10-Q,2015-04-28,2015-04-29,2015-05-28,2015-07-27,62.30,62.06,55.48,42.24,RRC
7,10-Q,2015-07-28,2015-07-29,2015-08-27,2015-10-26,43.95,42.64,38.01,29.02,RRC
8,10-Q,2015-10-28,2015-10-29,2015-11-27,2016-01-26,28.83,29.64,28.50,27.38,RRC
9,10-K,2016-02-25,2016-02-26,2016-03-26,2016-05-25,23.35,23.89,30.72,43.00,RRC
10,10-Q,2016-04-28,2016-04-29,2016-05-28,2016-07-27,40.75,44.11,41.36,40.48,RRC
11,10-Q,2016-07-26,2016-07-27,2016-08-25,2016-10-24,41.87,40.48,40.12,36.15,RRC
12,10-Q,2016-10-25,2016-10-26,2016-11-24,2017-01-23,35.89,34.95,36.78,34.14,RRC
13,10-Q/A,2016-11-16,2016-11-17,2016-12-16,2017-02-14,34.39,34.03,34.29,32.81,RRC
14,10-K,2017-02-22,2017-02-23,2017-03-24,2017-05-23,29.93,28.94,27.68,25.09,RRC
15,10-Q,2017-04-24,2017-04-25,2017-05-24,2017-07-23,27.23,27.56,24.14,21.01,RRC
16,10-Q,2017-08-01,2017-08-02,2017-08-31,2017-10-30,20.30,17.90,17.36,17.95,RRC
17,10-Q,2017-10-24,2017-10-25,2017-11-23,2018-01-22,18.59,18.09,17.69,16.55,RRC
18,10-K,2018-02-28,2018-03-01,2018-03-30,2018-05-29,13.29,13.77,14.54,15.10,RRC
19,10-Q,2018-04-25,2018-04-26,2018-05-25,2018-07-24,13.54,14.15,15.20,15.98,RRC
20,10-Q,2018-07-30,2018-07-31,2018-08-29,2018-10-28,14.57,15.43,16.57,15.84,RRC
21,10-Q,2018-10-23,2018-10-24,2018-11-22,2019-01-21,16.47,15.72,16.09,11.55,RRC
22,10-K,2019-02-25,2019-02-26,2019-03-27,2019-05-26,11.01,10.60,10.77,NaN,RRC
23,10-Q,2019-04-22,2019-04-23,2019-05-22,2019-07-21,9.83,9.68,NaN,NaN,RRC

In [16]:
df_EQT_dates = pd.read_excel("data/dates/Document_Filing_Dates.xlsx", sheet_name='EQT')
df_EQT = pd.read_csv('data/EQT.csv', encoding="ISO-8859-1", index_col=[0])
df_EQT.drop(['company', 'open', 'high', 'low','adjusted_close', 'volume', 'dividend_amount', 'split_coefficient' ,'crude_price'], axis=1, inplace=True)
df_EQT['date'] = pd.to_datetime(df_EQT['date'])
df_EQT = df_EQT.set_index('date')
df_EQT = df_EQT.resample('D').mean()
df_EQT = df_EQT.fillna(method='ffill')
df_EQT = df_EQT.reset_index(drop=False)
df_EQT_dates.rename(columns = {'Filing Date':'date'}, inplace = True)
df_EQT_dates['1_Day'] = df_EQT_dates['date'] + np.timedelta64(1,'D')
df_EQT_dates['1_Month'] = df_EQT_dates['date'] + np.timedelta64(30,'D')
df_EQT_dates['3_Month'] = df_EQT_dates['date'] + np.timedelta64(90,'D')
df_EQT_dates = pd.merge(df_EQT_dates, df_EQT, on='date' ,how='left')
df_EQT.rename(columns = {'date':'1_Day'}, inplace = True)
df_EQT.rename(columns = {'close':'close_1_Day'}, inplace = True)
df_EQT_dates = pd.merge(df_EQT_dates, df_EQT, on='1_Day' ,how='left')
df_EQT.rename(columns = {'1_Day':'1_Month'}, inplace = True)
df_EQT.rename(columns = {'close_1_Day':'close_1_Month'}, inplace = True)
df_EQT_dates = pd.merge(df_EQT_dates, df_EQT, on='1_Month' ,how='left')
df_EQT.rename(columns = {'1_Month':'3_Month'}, inplace = True)
df_EQT.rename(columns = {'close_1_Month':'close_3_Month'}, inplace = True)
df_EQT_dates = pd.merge(df_EQT_dates, df_EQT, on='3_Month' ,how='left')
df_EQT_dates['Name'] = 'EQT'

In [17]:
df_EQT_dates

,Filings,date,1_Day,1_Month,3_Month,close,close_1_Day,close_1_Month,close_3_Month,Name
0,10-K,2014-02-20,2014-02-21,2014-03-22,2014-05-21,100.03,100.81,103.29,104.19,EQT
1,10-Q,2014-04-24,2014-04-25,2014-05-24,2014-07-23,108.17,105.25,102.19,99.92,EQT
2,10-Q,2014-07-24,2014-07-25,2014-08-23,2014-10-22,104.18,100.15,95.04,82.89,EQT
3,10-Q,2014-10-23,2014-10-24,2014-11-22,2015-01-21,87.65,88.90,95.02,76.75,EQT
4,10-Q/A,2014-12-03,2014-12-04,2015-01-02,2015-03-03,90.06,87.10,77.52,82.23,EQT
5,10-K,2015-02-12,2015-02-13,2015-03-14,2015-05-13,80.75,81.18,76.23,89.95,EQT
6,10-Q,2015-04-23,2015-04-24,2015-05-23,2015-07-22,87.54,86.59,88.41,72.36,EQT
7,10-Q,2015-07-23,2015-07-24,2015-08-22,2015-10-21,76.27,74.28,74.25,74.28,EQT
8,10-Q,2015-10-22,2015-10-23,2015-11-21,2016-01-20,68.32,69.44,58.81,55.45,EQT
9,10-K,2016-02-11,2016-02-12,2016-03-12,2016-05-11,57.13,59.11,61.21,70.24,EQT
10,10-Q,2016-04-28,2016-04-29,2016-05-28,2016-07-27,70.06,70.10,73.16,73.48,EQT
11,10-Q/A,2016-05-09,2016-05-10,2016-06-08,2016-08-07,69.69,71.19,75.06,69.93,EQT
12,10-Q,2016-07-28,2016-07-29,2016-08-27,2016-10-26,73.91,72.86,71.68,64.36,EQT
13,10-Q,2016-10-27,2016-10-28,2016-11-26,2017-01-25,66.42,66.01,70.14,64.12,EQT
14,10-K,2017-02-09,2017-02-10,2017-03-11,2017-05-10,63.75,64.35,57.08,57.08,EQT
15,10-Q,2017-04-27,2017-04-28,2017-05-27,2017-07-26,59.37,58.14,56.69,63.97,EQT
16,10-Q,2017-07-27,2017-07-28,2017-08-26,2017-10-25,67.02,66.10,61.06,60.71,EQT
17,10-Q,2017-10-26,2017-10-27,2017-11-25,2018-01-24,60.07,63.31,57.65,58.76,EQT
18,10-K,2018-02-15,2018-02-16,2018-03-17,2018-05-16,53.34,52.55,50.45,53.55,EQT
19,10-Q,2018-04-26,2018-04-27,2018-05-26,2018-07-25,50.94,49.96,50.23,55.43,EQT
20,10-Q,2018-07-26,2018-07-27,2018-08-25,2018-10-24,54.34,49.85,51.15,40.46,EQT
21,10-Q,2018-10-25,2018-10-26,2018-11-24,2019-01-23,35.34,32.55,17.79,19.05,EQT
22,10-K,2019-02-14,2019-02-15,2019-03-16,2019-05-15,18.20,18.93,19.41,NaN,EQT
23,10-Q,2019-04-25,2019-04-26,2019-05-25,2019-07-24,20.16,20.99,NaN,NaN,EQT
24,10-K/A,2019-04-29,2019-04-30,2019-05-29,2019-07-28,21.07,NaN,NaN,NaN,EQT

In [18]:
df_RSPP_dates = pd.read_excel("data/dates/Document_Filing_Dates.xlsx", sheet_name='RSPP see note')
df_RSPP = pd.read_csv('data/RSPP.csv', encoding="ISO-8859-1", index_col=[0])
df_RSPP.drop(['company', 'open', 'high', 'low','adjusted_close', 'volume', 'dividend_amount', 'split_coefficient' ,'crude_price'], axis=1, inplace=True)
df_RSPP_dates.drop(['RSPP was acquired by CXO so we probably need both'], axis=1, inplace=True)

df_RSPP['date'] = pd.to_datetime(df_RSPP['date'])
df_RSPP = df_RSPP.set_index('date')
df_RSPP = df_RSPP.resample('D').mean()
df_RSPP = df_RSPP.fillna(method='ffill')
df_RSPP = df_RSPP.reset_index(drop=False)
df_RSPP_dates.rename(columns = {'Filing Date':'date'}, inplace = True)
df_RSPP_dates['1_Day'] = df_RSPP_dates['date'] + np.timedelta64(1,'D')
df_RSPP_dates['1_Month'] = df_RSPP_dates['date'] + np.timedelta64(30,'D')
df_RSPP_dates['3_Month'] = df_RSPP_dates['date'] + np.timedelta64(90,'D')
df_RSPP_dates = pd.merge(df_RSPP_dates, df_RSPP, on='date' ,how='left')
df_RSPP.rename(columns = {'date':'1_Day'}, inplace = True)
df_RSPP.rename(columns = {'close':'close_1_Day'}, inplace = True)
df_RSPP_dates = pd.merge(df_RSPP_dates, df_RSPP, on='1_Day' ,how='left')
df_RSPP.rename(columns = {'1_Day':'1_Month'}, inplace = True)
df_RSPP.rename(columns = {'close_1_Day':'close_1_Month'}, inplace = True)
df_RSPP_dates = pd.merge(df_RSPP_dates, df_RSPP, on='1_Month' ,how='left')
df_RSPP.rename(columns = {'1_Month':'3_Month'}, inplace = True)
df_RSPP.rename(columns = {'close_1_Month':'close_3_Month'}, inplace = True)
df_RSPP_dates = pd.merge(df_RSPP_dates, df_RSPP, on='3_Month' ,how='left')
df_RSPP_dates['Name'] = 'RSPP'

df_RSPP_dates.drop(df_RSPP_dates.columns[df_RSPP_dates.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [19]:
df_RSPP_dates

,Filings,date,1_Day,1_Month,3_Month,close,close_1_Day,close_1_Month,close_3_Month,Name
0,10-K,2014-03-31,2014-04-01,2014-04-30,2014-06-29,28.89,29.20,28.35,32.30,RSPP
1,10-Q,2014-08-14,2014-08-15,2014-09-13,2014-11-12,26.10,27.13,25.18,27.50,RSPP
2,10-Q,2014-11-10,2014-11-11,2014-12-10,2015-02-08,26.45,27.25,20.90,27.58,RSPP
3,10-K,2015-03-17,2015-03-18,2015-04-16,2015-06-15,27.07,25.74,28.57,30.21,RSPP
4,10-Q,2015-05-12,2015-05-13,2015-06-11,2015-08-10,27.65,28.12,29.98,23.80,RSPP
5,10-Q,2015-08-04,2015-08-05,2015-09-03,2015-11-02,22.76,23.66,23.93,27.23,RSPP
6,10-Q,2015-11-02,2015-11-03,2015-12-02,2016-01-31,27.23,27.49,27.07,23.55,RSPP
7,10-K,2016-02-25,2016-02-26,2016-03-26,2016-05-25,22.80,23.02,28.57,33.09,RSPP
8,10-Q,2016-05-02,2016-05-03,2016-06-01,2016-07-31,31.00,29.62,33.27,35.95,RSPP
9,10-Q,2016-08-08,2016-08-09,2016-09-07,2016-11-06,39.30,38.19,39.92,37.16,RSPP
10,10-Q,2016-11-01,2016-11-02,2016-12-01,2017-01-30,36.49,36.81,44.11,41.99,RSPP
11,10-K,2017-02-27,2017-02-28,2017-03-29,2017-05-28,40.97,39.49,41.07,37.74,RSPP
12,10-Q,2017-05-02,2017-05-03,2017-06-01,2017-07-31,37.57,39.28,36.20,34.36,RSPP
13,10-Q,2017-08-07,2017-08-08,2017-09-06,2017-11-05,30.77,31.74,31.06,35.23,RSPP
14,10-Q,2017-11-06,2017-11-07,2017-12-06,2018-02-04,36.40,36.82,35.57,38.30,RSPP
15,10-K,2018-02-27,2018-02-28,2018-03-29,2018-05-28,35.82,38.31,46.88,44.16,RSPP
16,10-K/A,2018-04-30,2018-05-01,2018-05-30,2018-07-29,49.61,49.62,44.66,NaN,RSPP
17,10-Q,2018-05-02,2018-05-03,2018-06-01,2018-07-31,49.83,48.03,41.09,NaN,RSPP

In [20]:
df_ALL_dates = df_FANG_dates.append(df_MDU_dates, ignore_index = True)
df_ALL_dates = df_ALL_dates.append(df_MRO_dates, ignore_index = True)
df_ALL_dates = df_ALL_dates.append(df_LPI_dates, ignore_index = True)
df_ALL_dates = df_ALL_dates.append(df_GPOR_dates, ignore_index = True)
df_ALL_dates = df_ALL_dates.append(df_RRC_dates, ignore_index = True)
df_ALL_dates = df_ALL_dates.append(df_EQT_dates, ignore_index = True)

df_ALL_dates = df_ALL_dates.append(df_RSPP_dates, ignore_index = True)
df_ALL_dates = df_ALL_dates.append(df_PE_dates, ignore_index = True)

In [21]:
df_ALL_dates

,Filings,date,1_Day,1_Month,3_Month,close,close_1_Day,close_1_Month,close_3_Month,Name
0,10-K,2014-02-19,2014-02-20,2014-03-21,2014-05-20,61.04,62.67,64.22,70.160,FANG
1,10-Q,2014-05-09,2014-05-10,2014-06-08,2014-08-07,71.24,71.24,81.09,76.580,FANG
2,10-Q/A,2014-05-28,2014-05-29,2014-06-27,2014-08-26,71.39,75.02,88.69,83.880,FANG
3,10-Q,2014-08-07,2014-08-08,2014-09-06,2014-11-05,76.58,77.45,79.25,65.010,FANG
4,10-Q,2014-11-06,2014-11-07,2014-12-06,2015-02-04,65.82,69.49,58.79,67.125,FANG
5,10-K,2015-02-20,2015-02-21,2015-03-22,2015-05-21,75.09,75.09,72.34,80.620,FANG
6,10-Q,2015-05-07,2015-05-08,2015-06-06,2015-08-05,75.34,77.01,78.26,68.370,FANG
7,10-Q,2015-08-10,2015-08-11,2015-09-09,2015-11-08,70.19,70.87,65.05,77.790,FANG
8,10-Q,2015-11-06,2015-11-07,2015-12-06,2016-02-04,77.79,77.79,76.31,72.000,FANG
9,10-Q/A,2015-11-17,2015-11-18,2015-12-17,2016-02-15,79.61,81.42,68.75,69.130,FANG
10,10-K,2016-02-19,2016-02-20,2016-03-20,2016-05-19,72.08,72.08,77.62,86.930,FANG
11,10-Q,2016-05-05,2016-05-06,2016-06-04,2016-08-03,87.68,85.46,90.11,87.340,FANG
12,10-Q,2016-08-09,2016-08-10,2016-09-08,2016-11-07,94.28,93.29,98.34,93.960,FANG
13,10-Q,2016-11-08,2016-11-09,2016-12-08,2017-02-06,93.74,98.16,107.26,105.440,FANG
14,10-K,2017-02-15,2017-02-16,2017-03-17,2017-05-16,111.84,109.01,104.69,103.960,FANG
15,10-Q,2017-05-04,2017-05-05,2017-06-03,2017-08-02,95.21,99.65,91.84,95.840,FANG
16,10-Q,2017-08-02,2017-08-03,2017-09-01,2017-10-31,95.84,89.69,91.92,107.160,FANG
17,10-Q,2017-11-07,2017-11-08,2017-12-07,2018-02-05,111.80,110.04,108.95,120.270,FANG
18,10-K,2018-02-15,2018-02-16,2018-03-17,2018-05-16,125.15,123.88,125.51,132.130,FANG
19,10-Q,2018-05-10,2018-05-11,2018-06-09,2018-08-08,129.79,123.82,113.96,133.790,FANG
20,10-Q,2018-08-09,2018-08-10,2018-09-08,2018-11-07,131.15,134.80,112.65,115.870,FANG
21,10-Q,2018-11-07,2018-11-08,2018-12-07,2019-02-05,115.87,110.65,102.70,101.880,FANG
22,10-K,2019-02-25,2019-02-26,2019-03-27,2019-05-26,105.29,105.51,102.35,NaN,FANG
23,10-K/A,2019-03-12,2019-03-13,2019-04-11,2019-06-10,100.50,103.42,99.92,NaN,FANG
24,10-Q,2019-05-10,2019-05-11,2019-06-09,2019-08-08,NaN,NaN,NaN,NaN,FANG
25,10-K,2014-02-21,2014-02-22,2014-03-23,2014-05-22,34.55,34.55,33.75,33.250,MDU
26,10-Q,2014-05-07,2014-05-08,2014-06-06,2014-08-05,35.77,35.07,33.93,30.110,MDU
27,10-Q,2014-08-08,2014-08-09,2014-09-07,2014-11-06,30.53,30.53,31.65,25.990,MDU
28,10-Q,2014-11-07,2014-11-08,2014-12-07,2015-02-05,26.36,26.36,23.78,22.350,MDU
29,10-K,2015-02-20,2015-02-21,2015-03-22,2015-05-21,23.02,23.02,21.95,20.970,MDU
...,...,...,...,...,...,...,...,...,...,...
171,10-Q,2016-05-02,2016-05-03,2016-06-01,2016-07-31,31.00,29.62,33.27,35.950,RSPP
172,10-Q,2016-08-08,2016-08-09,2016-09-07,2016-11-06,39.30,38.19,39.92,37.160,RSPP
173,10-Q,2016-11-01,2016-11-02,2016-12-01,2017-01-30,36.49,36.81,44.11,41.990,RSPP
174,10-K,2017-02-27,2017-02-28,2017-03-29,2017-05-28,40.97,39.49,41.07,37.740,RSPP
175,10-Q,2017-05-02,2017-05-03,2017-06-01,2017-07-31,37.57,39.28,36.20,34.360,RSPP
176,10-Q,2017-08-07,2017-08-08,2017-09-06,2017-11-05,30.77,31.74,31.06,35.230,RSPP
177,10-Q,2017-11-06,2017-11-07,2017-12-06,2018-02-04,36.40,36.82,35.57,38.300,RSPP
178,10-K,2018-02-27,2018-02-28,2018-03-29,2018-05-28,35.82,38.31,46.88,44.160,RSPP
179,10-K/A,2018-04-30,2018-05-01,2018-05-30,2018-07-29,49.61,49.62,44.66,NaN,RSPP
180,10-Q,2018-05-02,2018-05-03,2018-06-01,2018-07-31,49.83,48.03,41.09,NaN,RSPP
181,10-Q,2014-08-14,2014-08-15,2014-09-13,2014-11-12,19.89,20.43,20.51,17.910,PE
182,10-Q,2014-11-14,2014-11-15,2014-12-14,2015-02-12,17.95,17.95,11.51,16.480,PE
183,10-K,2015-03-11,2015-03-12,2015-04-10,2015-06-09,14.33,14.57,17.36,18.520,PE
184,10-Q,2015-05-14,2015-05-15,2015-06-13,2015-08-12,17.30,17.62,18.22,16.250,PE
185,10-Q,2015-08-13,2015-08-14,2015-09-12,2015-11-11,15.90,16.16,15.05,18.470,PE
186,10-Q,2015-11-06,2015-11-07,2015-12-06,2016-02-04,18.13,18.13,18.78,17.810,PE
187,10-K,2016-02-29,2016-03-01,2016-03-30,2016-05-29,18.38,18.93,22.82,25.940,PE
188,10-Q,2016-05-06,2016-05-07,2016-06-05,2016-08-04,23.81,23.81,26.04,31.890,PE
189,10-Q,2016-08-05,2016-08-06,2016-09-04,2016-11-03,32.50,32.50,34.86,33.190,PE
190,10-Q,2016-11-04,2016-11-05,2016-12-04,2017-02-02,33.17,33.17,38.27,34.790,PE
191,10-K,2017-02-27,2017-02-28,2017-03-29,2017-05-28,30.77,30.39,32.26,30.800,PE
192,10-Q,2017-05-05,2017-05-06,2017-06-04,2017-08-03,31.29,31.29,30.14,25.300,PE
193,10-Q,2017-08-04,2017-08-05,2017-09-03,2017-11-02,26.12,26.12,25.25,26.730,PE
194,10-Q,2017-11-08,2017-11-09,2017-12-08,2018-02-06,27.10,27.19,26.10,23.360,PE
195,10-K,2018-02-28,2018-03-01,2018-03-30,2018-05-29,25.28,25.33,28.99,29.100,PE
196,10-Q,2018-05-04,2018-05-05,2018-06-03,2018-08-02,31.92,31.92,28.31,31.610,PE
197,10-Q,2018-08-08,2018-08-09,2018-09-07,2018-11-06,30.27,29.96,26.37,25.050,PE
198,10-Q,2018-11-02,2018-11-03,2018-12-02,2019-01-31,24.73,24.73,20.13,18.580,PE
199,10-K,2019-02-27,2019-02-28,2019-03-29,2019-05-28,18.62,18.14,19.30,NaN,PE
200,10-Q,2019-05-03,2019-05-04,2019-06-02,2019-08-01,NaN,NaN,NaN,NaN,PE